<button class="btn btn--primary">ثبت نام</button>
<button class="btn  btn--secondary">ثبت نام</button>
<button class="btn btn--block btn--secondary">ثبت نام</button>
<button class="btn btn--block btn--primary">ثبت نام</button>

<span class="badge">30% off</span>
<span class="badge badge--primary">30% off</span>

<ul class="list list--inline">
    <li class="list__item">آیتم انتخابی 1</li>
    <li class="list__item">آیتم انتخابی 1</li>
    <li class="list__item">آیتم انتخابی 1</li>
</ul>

<ul class="list list--tick">
    <li class="list__item">آیتم انتخابی 1</li>
    <li class="list__item">آیتم انتخابی 1</li>
    <li class="list__item">آیتم انتخابی 1</li>
</ul>