<footer class="main-footer">
    <div class="footer container">
        <div class="footer_item footer__logo">
            <div><img src="/assets/images/tapsi-logo-white.svg" alt="">
                <p class="footer__Slogan">اپلیکیشن درخواست خودرو و پیک</p>
                <p class="footer__copy">تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</p>
            </div>
            <div class="footer__social">
                <p class="footer__social-title">تپسی در شبکه های اجتماعی</p>
                <div class="footer__social-items">
                    <a href="#"><i class="fa-solid fa-paper-plane"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
        <div class="footer_item">
            <h6>تپسی</h6>
            <a href="#">وبلاگ تپسی</a>
            <a href="#">فرصت شغلی</a>
            <a href="#">تماس با ما</a>
            <a href="#">لوگو و هویت سازمانی</a>
            <a href="#">استخدام بازاریاب</a>
        </div>
        <div class="footer_item">
            <h6>مسافران</h6>
            <a href="#">دانلود اپ مسافر</a>
            <a href="#">نسخه وب تپسی</a>
            <a href="#">پرسش‌های متداول مسافران</a>
            <a href="#">شرایط و قوانین مسافران</a>
            <a href="#">باشگاه مشتریان</a>
        </div>
        <div class="footer_item">
            <h6>رانندگان</h6>
            <a href="#">دانلود اپ سفیر</a>
            <a href="#">ثبت نام راننده تاکسی اینترنتی</a>
            <a href="#">پرسش‌های متداول سفیران</a>
            <a href="#">شرایط و قوانین سفیران</a>
            <a href="#">تپسی گاراژ</a>
            <a href="#">ثبت نام راننده موتور</a>

        </div>
        <div class="footer_item enemad">
            <div class="footer__enemad"><img src="/assets/images/enemad.png" alt="enemad"></div>
            <div class="footer__enemad"><img src="/assets/images/enemad.png" alt="enemad"></div>
            <div class="footer__enemad"><img src="/assets/images/enemad.png" alt="enemad"></div>
        </div>
    </div>
</footer>