<section class="block-plan container">
    <div class="plan">
        <div class="card">
            <header class="card__header">
                <div class="plan__name">
                    <span>عادی</span>
                    <span class="badge">10% off</span>
                </div>
                <div class="plan__price-box">
                    <span class="plan__price">290,000 </span>
                    <span class="plan__billing-cycle">ماهانه / تومان</span>
                </div>
                <span class="paln__desc">سرویس ماشین های معمولی</span>

            </header>
            <div class="card__body">
                <ul class="list list--tick">
                    <li class="list__item">کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                </ul>
                <button class="btn btn--block btn--secondary">ثبت سفارش</button>
            </div>
        </div>
    </div>
    <div class="plan">
        <div class="card card--primary plan--popular">
            <header class="card__header">
                <div class="plan__name">
                    <span>عادی</span>
                    <span class="badge badge--primary">15% off</span>
                </div>
                <div class="plan__price-box">
                    <span class="plan__price">390,000 </span>
                    <span class="plan__billing-cycle">ماهانه / تومان</span>
                </div>
                <span class="paln__desc">سرویس ماشین های کلاسیک</span>

            </header>
            <div class="card__body">
                <ul class="list list--tick">
                    <li class="list__item">کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                </ul>
                <button class="btn btn--block btn--primary">ثبت سفارش</button>
            </div>
        </div>
    </div>
    <div class="plan">
        <div class="card">
            <header class="card__header">
                <div class="plan__name">
                    <span>ویژه</span>
                    <span class="badge">20% off</span>
                </div>
                <div class="plan__price-box">
                    <span class="plan__price">490,000 </span>
                    <span class="plan__billing-cycle">ماهانه / تومان</span>
                </div>
                <span class="paln__desc">سرویس ماشین های لاکچری</span>

            </header>
            <div class="card__body">
                <ul class="list list--tick">
                    <li class="list__item">کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                    <li class="list__item">کیفیت معمولی</li>
                </ul>
                <button class="btn btn--block btn--secondary">ثبت سفارش</button>
            </div>
        </div>
    </div>
</section>