<section class="travell container">
    <div class="travell__slides">
        <div class="travell__slide"">
                <div class=" slide__image">
            <img src="/assets/images/travell-picture-1.jpg" alt="">
        </div>
        <div class="slide__detail">
            <div class="slide__header">
                <span class="badge badge--primary">ویژه</span>
                <span>اقامت رایگان &bull; سفر 3 روزه</span>
            </div>
            <p class="slide__title">سفر به قلب کویر لوت</p>
            <div class="slide__review">
                <div class="review__icons">
                    <i class="fa-solid fa-heart"></i>
                    <span>12</span>
                    <i class="fa-solid fa-eye"></i>
                    <span>22</span>
                </div>
                <div class="review__icons">
                    <i class="fa-regular fa-pen-to-square"></i>
                    <i class="fa-regular fa-trash-can"></i>
                </div>
            </div>
            <div class="avatar-group">
                <div class="avatar">
                    <img src="/assets/images/avatar-1.jpg" alt="">
                </div>
                <div class="avatar">
                    <img src="/assets/images/avatar-2.jpg" alt="">
                </div>
                <div class="avatar">
                    <img src="/assets/images/avatar-3.jpg" alt="">
                </div>
                <div class="avatar">
                    <img src="/assets/images/avatar-4.jpg" alt="">
                </div>
                <div class="avatar hidden-avatars">+10</div>
                <div class="avatar__suggest">پیشنهاد</div>
            </div>
        </div>
    </div>
    <div class="travell__slide"">
                            <div class=" slide__image">
        <img src="/assets/images/travell-picture-2.jpg" alt="">
    </div>
    <div class="slide__detail">
        <div class="slide__header">
            <span class="badge badge--primary">ویژه</span>
            <span>اقامت رایگان &bull; سفر 3 روزه</span>
        </div>
        <p class="slide__title">سفر به قلب کویر لوت</p>
        <div class="slide__review">
            <div class="review__icons">
                <i class="fa-solid fa-heart"></i>
                <span>12</span>
                <i class="fa-solid fa-eye"></i>
                <span>22</span>
            </div>
            <div class="review__icons">
                <i class="fa-regular fa-pen-to-square"></i>
                <i class="fa-regular fa-trash-can"></i>
            </div>
        </div>
        <div class="avatar-group">
            <div class="avatar">
                <img src="/assets/images/avatar-1.jpg" alt="">
            </div>
            <div class="avatar">
                <img src="/assets/images/avatar-2.jpg" alt="">
            </div>
            <div class="avatar">
                <img src="/assets/images/avatar-3.jpg" alt="">
            </div>
            <div class="avatar">
                <img src="/assets/images/avatar-4.jpg" alt="">
            </div>
            <div class="avatar hidden-avatars">+10</div>
            <div class="avatar__suggest">پیشنهاد</div>
        </div>
    </div>
    </div>
    <div class="travell__slide"">
                                        <div class=" slide__image">
        <img src="/assets/images/travell-picture-3.jpg" alt="">
    </div>
    <div class="slide__detail">
        <div class="slide__header">
            <span class="badge badge--primary">ویژه</span>
            <span>اقامت رایگان &bull; سفر 3 روزه</span>
        </div>
        <p class="slide__title">سفر به قلب کویر لوت</p>
        <div class="slide__review">
            <div class="review__icons">
                <i class="fa-solid fa-heart"></i>
                <span>12</span>
                <i class="fa-solid fa-eye"></i>
                <span>22</span>
            </div>
            <div class="review__icons">
                <i class="fa-regular fa-pen-to-square"></i>
                <i class="fa-regular fa-trash-can"></i>
            </div>
        </div>
        <div class="avatar-group">
            <div class="avatar">
                <img src="/assets/images/avatar-1.jpg" alt="">
            </div>
            <div class="avatar">
                <img src="/assets/images/avatar-2.jpg" alt="">
            </div>
            <div class="avatar">
                <img src="/assets/images/avatar-3.jpg" alt="">
            </div>
            <div class="avatar">
                <img src="/assets/images/avatar-4.jpg" alt="">
            </div>
            <div class="avatar hidden-avatars">+10</div>
            <div class="avatar__suggest">پیشنهاد</div>
        </div>
    </div>
    </div>
    <div class="travell__slide"">
                                        <div class=" slide__image">
        <img src="/assets/images/travell-picture-5.jpg" alt="">
    </div>
    <div class="slide__detail">
        <div class="slide__header">
            <span class="badge badge--primary">ویژه</span>
            <span>اقامت رایگان &bull; سفر 3 روزه</span>
        </div>
        <p class="slide__title">سفر به قلب کویر لوت</p>
        <div class="slide__review">
            <div class="review__icons">
                <i class="fa-solid fa-heart"></i>
                <span>12</span>
                <i class="fa-solid fa-eye"></i>
                <span>22</span>
            </div>
            <div class="review__icons">
                <i class="fa-regular fa-pen-to-square"></i>
                <i class="fa-regular fa-trash-can"></i>
            </div>
        </div>
        <div class="avatar-group">
            <div class="avatar">
                <img src="/assets/images/avatar-1.jpg" alt="">
            </div>
            <div class="avatar">
                <img src="/assets/images/avatar-2.jpg" alt="">
            </div>
            <div class="avatar">
                <img src="/assets/images/avatar-3.jpg" alt="">
            </div>
            <div class="avatar">
                <img src="/assets/images/avatar-4.jpg" alt="">
            </div>
            <div class="avatar hidden-avatars">+10</div>
            <div class="avatar__suggest">پیشنهاد</div>
        </div>
    </div>
    </div>
    <div class="travell__slide"">
                                <div class=" slide__image">
        <img src="/assets/images/travell-picture-4.jpg" alt="">
    </div>
    <div class="slide__detail">
        <div class="slide__header">
            <span class="badge badge--primary">ویژه</span>
            <span>اقامت رایگان &bull; سفر 3 روزه</span>
        </div>
        <p class="slide__title">سفر به قلب کویر لوت</p>
        <div class="slide__review">
            <div class="review__icons">
                <i class="fa-solid fa-heart"></i>
                <span>12</span>
                <i class="fa-solid fa-eye"></i>
                <span>22</span>
            </div>
            <div class="review__icons">
                <i class="fa-regular fa-pen-to-square"></i>
                <i class="fa-regular fa-trash-can"></i>
            </div>

        </div>
        <div class="avatar-group">
            <div class="avatar">
                <img src="/assets/images/avatar-1.jpg" alt="">
            </div>
            <div class="avatar">
                <img src="/assets/images/avatar-2.jpg" alt="">
            </div>
            <div class="avatar">
                <img src="/assets/images/avatar-3.jpg" alt="">
            </div>
            <div class="avatar">
                <img src="/assets/images/avatar-4.jpg" alt="">
            </div>
            <div class="avatar hidden-avatars">+10</div>
            <div class="avatar__suggest">پیشنهاد</div>
        </div>
    </div>
    </div>
    </div>
</section>